
<%= form_for([@post, Comment.new]) do |f| %>


  <div class="field">
    <%= f.label :body, 'Ваш комментарий:' %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class =>"btn btn-primary btn-xs"%>
  </div>
<% end %>