<h1>Welcome#index</h1>
<h2>Welcome to our superblog!!!</h2>
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->

<%= link_to "Все посты", admin_posts_path %></br>
<%= link_to "Все комменты", admin_comments_path %></br>
<%= link_to "Все категории", admin_categories_path %></br>
<%= link_to "Все теги", admin_tags_path %>