<h1>Welcome#index</h1>
<h2>Welcome to our superblog!!!</h2>
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->

<%= link_to "Все посты", posts_path %></br>
<%= link_to "Все комменты", comments_path %></br>
<%= link_to "Все категории", categories_path %>