<%= form_for([:admin, @category]) do |c| %>

  <div class="field">
    <%= c.label :title %><br>
    <%= c.text_field :title, class: "form-control" %>
  </div>
  <div class="actions">
    <%= c.submit t('.submit', action: @category.new_record? ? t('common.create') : t('common.update')), :class =>"btn btn-primary btn-sm"%>
  </div>
<% end %>