<h2>Все посты вместе с Вашими черновиками</h2>

<%= render "subheader_block" %>

<%= render "posts" %>

<br>

<%= link_to_admin_level '<<< На Главную - Dashboard', admin_welcome_index_path, class: "btn btn-default" %>

<hr>