<h3>Редактирование данных пользователя</h3>
<hr>
<%= render 'form' %>
<hr>
<%= link_to 'Назад к просмотру пользователя', [:admin, @user], class: "btn btn-link" %> |
<%= link_to 'К списку ппользователей', admin_users_path, class: "btn btn-link" %>

<hr>